a {
  text-decoration: none;
  color: black;
}


.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
}


.App-background {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* App-header #################################################################*/
.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  width: 100%;
  height: 10%;
  max-height: 10%;

  /* border: 1px solid rgb(0, 0, 0); */
}

@media (max-width: 868px) {
  .App-header {
    font-size: calc(5px + 2vmin);
  }
}

@media (min-width: 868px) {
  .App-header {
    font-size: calc(10px + 2vmin);
  }
}


/* Content  ###################################################################*/
.Content {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  flex-grow: 1;

  /* border: 1px solid rgb(16, 251, 78); */
}

/* DataFootnote  ######################################################################*/
@media (max-width: 868px) {
  .DataFootnote {
    font-size: 8px;
  }
}

@media (min-width: 868px) {
  .DataFootnote {
    font-size: 10px;
  }
}


/* Main  ######################################################################*/
.Main {
  display: flex;
  /* height: 70%; */
  overflow-y: hidden;
  overflow-x: hidden;

  /* border: 1px solid rgb(255, 0, 0); */
}

@media (max-height: 768px) {
  .Main {
    height: 72%;
  }
}

/* @media (min-width: 868px) {
  .Main {
    height: 100%;
  }
} */


/* ReservoirChartBottom  ######################################################*/
/* the row at the bottom of each chart. */
.ReservoirChartBottom {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1%;

  /* border: 1px solid rgb(0, 0, 0); */
}


/* ReservoirChartDaily ########################################################*/
.ReservoirChartDaily {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #353535;
  /* min-height: 400px; */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

@media (max-width: 868px) {
  .ReservoirChartDaily {
    width: 95%;
    min-height: 200px;
    max-height: 200px;
  }
}

/* For some reason, Chrome was reducing the height of charts when only declaring "height: 600px".
Changed to declaring both min-height and max-height and the issue was fixed. ¯\_(ツ)_/¯ */
@media (min-width: 868px) {
  .ReservoirChartDaily {
    width: 600px;
    min-height: 400px;
    max-height: 400px;
  }
}

.ReservoirChartDailyHeader {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10%;

  /* border: 1px solid rgb(0, 0, 0); */
}

.ReservoirChartDailyContent {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
  height: 90%;

  /* border: 1px solid rgb(0, 0, 0); */
}

.ReservoirChartDailyContentChart {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  /* justify-content: center; */
  min-width: 140px;
  height: 100%;
  width: 25%;

  /* border: 1px solid rgb(0, 0, 0); */
}

/* @media (max-width: 868px) {
  .ReservoirChartDailyContentChart {
    width: 25%;
  }
} */

@media (min-width: 868px) {
  .ReservoirChartDailyContentChart {
    width: 70%;
  }
}

.ReservoirChartDailyContentInfo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 75%;
  height: 100%;

  /* border: 1px solid rgb(0, 0, 0); */
}

@media (max-width: 868px) {
  .ReservoirChartDailyContentInfo {
    font-size: xx-small;
  }
}

@media (min-width: 868px) {
  .ReservoirChartDailyContentInfo {
    font-size: medium;
  }
}

.ReservoirChartDailyContentInfoText {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: left;

  /* border: 1px solid rgb(0, 0, 0); */
}


/* ReservoirChartMonthly ######################################################*/
.ReservoirChartMonthly {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #353535;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

@media (max-width: 868px) {
  .ReservoirChartMonthly {
    width: 95%;
    min-height: 300px;
    max-height: 300px;
  }
}

/* For some reason, Chrome was reducing the height of charts when only declaring "height: 600px".
Changed to declaring both min-height and max-height and the issue was fixed. ¯\_(ツ)_/¯ */
@media (min-width: 868px) {
  .ReservoirChartMonthly {
    width: 1200px;
    min-height: 600px;
    max-height: 600px;
  }
}


/* ReservoirChartMulti ######################################################*/
.ReservoirChartMulti {
  display: flex;
  /* align-items: stretch; */
  flex-direction: column;
  color: #353535;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

@media (max-width: 868px) {
  .ReservoirChartMulti {
    width: 95%;
    min-height: 300px;
    max-height: 300px;
  }
}

/* For some reason, Chrome was reducing the height of charts when only declaring "height: 600px".
Changed to declaring both min-height and max-height and the issue was fixed. ¯\_(ツ)_/¯ */
@media (min-width: 869px) {
  .ReservoirChartMulti {
    width: 1200px;
    min-height: 600px;
    max-height: 600px;
  }
}


/* Sidebar #####################################################################*/
.Sidebar {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  color: #353535;
  height: 100%;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100px;
  max-width: 200px;

  /* border: 1px solid rgb(0, 0, 0); */
}

@media (max-width: 868px) {
  .Sidebar {
    font-size: x-small;
  }
}

@media (min-width: 868px) {
  .Sidebar {
    font-size: medium;
  }
}


/* ReservoirPage ################################################################*/
.ReservoirPage {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
  align-items: center;
  row-gap: 3%;
  width: 100%;

  /* border: 1px solid rgb(213, 12, 12); */
}


/* ReservoirPageHome ################################################################*/
.ReservoirPageHome {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
  align-items: center;
  row-gap: 3%;
  width: 100%;

  /* border: 1px solid rgb(213, 12, 12); */
}


/* TitleOfPage ################################################################*/
@media (max-width: 868px) {
  .TitleOfPage {
    font-size: 20px;
  }
}

@media (min-width: 868px) {
  .TitleOfPage {
    font-size: 32px;
  }
}


/* TitleOfChart ################################################################*/
@media (max-width: 868px) {
  .TitleOfChart {
    font-size: 14px;
  }
}

@media (min-width: 868px) {
  .TitleOfChart {
    font-size: 20px;
  }
}