.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.Main {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  height: 86%;
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-background {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 20px;
  /* position: fixed; */
  /* z-index: 1; */
}

.App-link {
  color: #61dafb;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  color: #353535;
  width: 300px;
}

.ReservoirCard {
  margin: 15px;
  max-width: 50vw;
  width: 70vw;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.right-justified-select {
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.cards-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4vh;
}


.res-flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: stretch;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: #353535;
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  height: 70%;
  /* margin: auto */
}

/* the row at the bottom of each res card */
.res-flex-container-bottom {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: row;
  color: #353535;
  border: 1px solid rgb(0, 0, 0);
}

.Sidebar {
  display: flex;
  flex: 0 0 10%;
  flex-wrap: wrap;
  /* background-color: #333; */
  flex-direction: column;
  color: #353535;
  height: 90%;
  text-align: left;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* a:link,
a:visited {
  color: black;
} */

.ReservoirPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  height: 86%;
  padding: 1rem;
  align-items: center;
}